.contenedor-tablas {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

#contenedor-tabla {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    border: solid 1px black;
}
#contenedor-tabla h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 5px;
}
#contenedor-tabla ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contenedor-tabla ul li {
    padding: 5px;
  
}